services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: luminastock-backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: luminastock-frontend
    ports:
      - "3000:4173"
    depends_on:
      - backend
    restart: unless-stopped
